<script src="https://unpkg.com/htmx.org@1.9.11"></script>
<div class="container justify-content-center mt-5">
  <div class="col-md-12 col-lg-8">
    <div class="card shadow-0 border">
      <div class="card-body p-4">
        <!--

          <form action="/send/{{song_id}}" method="POST">
          -->
        <form
          id="commentForm"
          hx-post="/send/{{song_id}}"
          hx-target="#messages-{{song_id}}"
          onsubmit="submitForm(event)"
        >
          <div class="form-outline mb-4 d-flex align-items-center">
            <input
              name="content"
              style="width: 80%"
              type="text"
              class="form-control me-2"
              placeholder="Type comment..."
            />
            <button class="btn btn-primary btn-block" style="width: 20%">
              Send
            </button>
          </div>
        </form>
        <div id="messagesContainer-{{song_id}}"></div>
      </div>
    </div>
  </div>
  <script>
    // get song_id

    // Fetch messages

    async function fetchMessages() {
      var id = "{{ song_id }}";
      console.log("FETCH ID", id);

      try {
        const response = await fetch(`/messages/${id}`);
        const messages = await response.json();
        //console.log(messages);
        var id_extra = 0;
        // Add messages to the containers
        const messagesContainer = document.getElementById(
          `messagesContainer-${id}`
        );
        messages.forEach((message) => {
          console.log(id, message.content, message.username);
          const messageCard = `
            <div class="card mb-4" id="messages-${id}-${id_extra}">
              <div class="card-body">
                <p>${message.content}</p>
                <div class="d-flex justify-content-between">
                  <div class="d-flex flex-row align-items-center">
                    <p class="small mb-0 ms-2">${message.username}</p>
                  </div>
                </div>
              </div>
            </div>`;
          id_extra++;
          //console.log(messageCard);
          messagesContainer.insertAdjacentHTML("beforeend", messageCard);
        });
      } catch (error) {
        console.error("Error fetching messages: ", error);
      }
    }

    function submitForm(event) {
      event.preventDefault();
      const form = event.target;

      const activeShowDiv = document.querySelector("div.active.show");
      //console.log(activeShowDiv.id);

      // TODO: get song id
      const songId = parseInt(activeShowDiv.id.split("-")[1]);

      const content = form.elements["content"].value;
      console.log("SONGID", songId);
      console.log("FOORM", form);
      console.log("FORM", form.getAttribute("hx-post"));
      /*
       */

      const formData = new FormData();
      formData.append("content", content);

      fetch(form.getAttribute("hx-post"), {
        method: "POST",
        body: new FormData(form),
      })
        .then((response) => response.json())
        .then((data) => {
          // Clear input field
          form.elements["content"].value = "";
          // Fetch and display updated messages
          fetchMessages();
        })
        .catch((error) => console.error("Error submitting form: ", error));
    }
    fetchMessages();
  </script>
</div>
