<div class="container justify-content-center mt-5">
  <div class="col-md-12 col-lg-8">
    <div class="card shadow-0 border">
      <div class="card-body p-4">
        <form
          id="commentForm"
          hx-post="/send/{{song_id}}"
          hx-target="#messagesContainer-{{song_id}}"
        >
          <div class="form-outline mb-4 d-flex align-items-center">
            <input
              required
              id="commentInput"
              name="content"
              style="width: 80%"
              type="text"
              class="form-control me-2"
              placeholder="Type comment..."
            />

            <button class="btn btn-primary btn-block" style="width: 20%">
              Send
            </button>
          </div>
        </form>
        <div id="messagesContainer-{{song_id}}"></div>
      </div>
    </div>
  </div>
</div>
