<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Title Here</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body style="background: white">
    {% if session.username %} {% extends 'base.html' %} {% block content %}
    <div class="container-lg">
      <h1>Welcome to the Home Page</h1>
      <p>Browse some music.</p>
      <div class="row flex-column flex-md-row">
        <div class="col-md-4">
          <div class="list-group container" id="list-tab" role="tablist">
            {% for song in songs %}
            <a
              class="list-group-item list-group-item-action list-group-item-NONE bg-gradient"
              id="list-{{song.id}}-list"
              data-bs-toggle="list"
              href="#list-{{song.id}}"
              role="tab"
              aria-controls="list-{{song.id}}"
            >
              <div class="row d-flex align-items-center">
                <div class="col-md">
                  <svg
                    id="play-{{song.id}}"
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-play-circle icon-play"
                    viewBox="0 0 16 16"
                    onclick="toggleIcons(this)"
                  >
                    <path
                      d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
                    />
                    <path
                      d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445"
                    />
                  </svg>
                  <svg
                    id="pause-{{song.id}}"
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-pause-circle icon-pause d-none"
                    viewBox="0 0 16 16"
                    onclick="toggleIcons(this)"
                  >
                    <path
                      d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
                    />
                    <path
                      d="M5 6.25a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0zm3.5 0a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0z"
                    />
                  </svg>
                </div>
                <div class="col-sm-8">
                  <p class="m-0">{{ song.song_name }}</p>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-8">
          <div class="tab-content" id="nav-tabContent">
            {% for song in songs %}
            <div
              class="tab-pane fade"
              id="list-{{song.id}}"
              role="tabpanel"
              aria-labelledby="list-{{song.id}}-list"
            >
              {% set song_id = song.id %} {{ song.song_description }} {% include
              "chat-component2.html" %}
            </div>
            {% endfor %}
          </div>
        </div>
        <div
          class="offcanvas offcanvas-bottom container text-center"
          style="height: auto"
          tabindex="-1"
          data-bs-backdrop="false"
          id="offcanvasScrolling"
          aria-labelledby="offcanvasScrollingLabel"
        >
          <div class="row">
            <div class="offcanvas-header col-4 col-lg-2">
              <h5 class="offcanvas-title" id="offcanvasBottomLabel">
                [[SONG NAME]]
              </h5>
            </div>
            <div class="offcanvas-body small col-6 col-lg-8">
              <div id="musicContainer">
                <audio controls style="width: 100%"></audio>
              </div>
            </div>
            <div
              class="col-2 col-lg-1 d-flex align-items-center justify-content-center"
            >
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      // TODO: Add play when pressing Enter-key

      function toggleIcons(icon) {
        const listPlayIcons = document.querySelectorAll(".icon-play");
        const listPauseIcons = document.querySelectorAll(".icon-pause");
        var clickedIconPlay = icon.parentElement.querySelector(".icon-play");
        var clickedIconPause = icon.parentElement.querySelector(".icon-pause");

        // switch previous off
        const playIconsArray = Array.from(listPlayIcons); // Convert NodeList to array

        playIconsArray.forEach((item, index) => {
          var pauseIcon = listPauseIcons[index];

          // Int parse is to check if same button is pressed again -> Stop the music
          if (
            item.classList.contains("d-none") &&
            parseInt(item.id.split("-")[1]) !== parseInt(icon.id.split("-")[1])
          ) {
            console.log(
              "Item:",
              parseInt(item.id.split("-")[1]),
              "icon",
              parseInt(icon.id.split("-")[1])
            );

            item.classList.toggle("d-none");
            listPauseIcons[index].classList.toggle("d-none");
          }
        });

        // Switch current on
        clickedIconPlay.classList.toggle("d-none");
        clickedIconPause.classList.toggle("d-none");

        // Current song id
        currentSongId = parseInt(clickedIconPlay.id.split("-")[1]);
        getAudioSong(currentSongId);

        // Toggle offcanvas on if not already
        // Get reference to the offcanvas
        const offcanvas = new bootstrap.Offcanvas(
          document.getElementById("offcanvasScrolling")
        );

        console.log("OFF", offcanvas);

        // Toggle the offcanvas
        offcanvas.toggle();

        console.log(currentSongId);
      }

      function getAudioSong(songId) {
        songContainer = document.getElementById("musicContainer");

        const songCard = `
          <div id="musicContainer">
            <audio controls autoplay style="width: 100%">
              <source src="stream/${songId}" type="audio/mp3" />
            </audio>
          </div>
        `;

        // Replace the audio with the new one
        //songContainer.insertAdjacentHTML("beforeend", songCard);
        //songContainer.replaceWith(songCard);
        songContainer.innerHTML = songCard;
        //songContainer.innerHTML = songCard + songContainer.innerHTML;
      }
    </script>
    {% endblock %} {% endif %}
  </body>
</html>
