<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body style="background: white" >
    {% if session.username %} {% extends 'base.html' %} {% block content %}
    <div class="container-lg">
      <h1>Welcome to the Home Page</h1>
      <p>Browse some music.</p>
      <div class="row flex-column flex-md-row">
        <div class="col-md-4">
          <div class="list-group" id="list-tab" role="tablist">
            {% include "song-list.html" %}
          </div>
        </div>
        <div class="col-md-8">
          <div class="tab-content" id="nav-tabContent">
            {% for song in songs %}
            <div
              class="tab-pane fade"
              id="list-{{song.id}}"
              role="tabpanel"
              aria-labelledby="list-{{song.id}}-list"
            >
              {% set song_id = song.id %} {{ song.song_description }}
              <div
                class="overflow-auto"
                style="max-height: calc(100vh - 300px); overflow: auto"
              >
                {% include "chat-component2.html" %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% include "popup-player-component.html" %}
    </div>
    {% endblock %} {% endif %}
  </body>
</html>
