<div class="collapse row" id="collapseLogin">
  <div class="card card-body">
    <p>Login</p>
    <form action="/login" method="POST">
      <div class="mb-3">
        <label for="username" class="form-label">username</label>
        <input type="text" name="username" class="form-control" id="username" />
      </div>
      <div class="mb-3">
        <label for="password1" class="form-label">Password</label>
        <input
          name="password"
          type="password"
          class="form-control"
          id="password1"
        />
      </div>
      <div class="mb-3 form-check"></div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
