<!DOCTYPE html>
<script src="https://unpkg.com/htmx.org@1.9.6   "></script>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    </head>
    <body>
        <div id="main">
            <div class="topbar">
                <h1 id="logo">oof.fi</h1>
                <div class="Buttons">
                    <h2 style="color: white;">Login/Sign Up</h2>
                    <form hx-post="/login">
                        <!-- Username input -->
                        <label style="color: white;" for="username">Username:</label>
                        <input type="text" id="username" name="username" required><br>

                        <!-- Password input -->
                        <label style="color: white;" for="password">Password:</label>
                        <input type="password" id="password" name="password" required><br>
                        
                        <!-- Login button -->
                        <button type="submit" name="submit">Login</button>
                    </form>
                    <form hx-post="/signup">
                        <!-- Username input -->
                        <label style="color: white;" for="username">Username:</label>
                        <input type="text" id="username" name="username" required><br>

                        <!-- Password input -->
                        <label style="color: white;" for="password">Password:</label>
                        <input type="password" id="password" name="password" required><br>
                        
                        <!-- Login button -->
                        <button type="submit" name="signup">sign up</button>
                    </form>
                </div>
            </div>
            <!-- 
            -->
                <div class="main-image-container">
                    <img id="1" src="static/unnamed 1.png">
                    <img id="2" src="static/unnamed 2.png">
                    <img id="3" src="static/unnamed 3.png">
                    <img id="4" src="static/unnamed 4.png">
                    <img id="2" src="static/unnamed 2.png">
                    <img id="3" src="static/unnamed 3.png">
                    <img id="4" src="static/unnamed 4.png">
                    <img id="1" src="static/unnamed 1.png">
                </div>
                <div class="main-image-container">
                    <img id="2" src="static/unnamed 2.png">
                    <img id="3" src="static/unnamed 3.png">
                    <img id="4" src="static/unnamed 4.png">
                    <img id="1" src="static/unnamed 1.png">
                    <img id="2" src="static/unnamed 2.png">
                    <img id="3" src="static/unnamed 3.png">
                    <img id="4" src="static/unnamed 4.png">
                    <img id="1" src="static/unnamed 1.png">
                </div>
                <div class="main-image-container">
                    <img id="3" src="static/unnamed 3.png">
                    <img id="4" src="static/unnamed 4.png">
                    <img id="1" src="static/unnamed 1.png">
                    <img id="2" src="static/unnamed 2.png">
                    <img id="2" src="static/unnamed 2.png">
                    <img id="3" src="static/unnamed 3.png">
                    <img id="4" src="static/unnamed 4.png">
                    <img id="1" src="static/unnamed 1.png">
                </div>
            <div class="main-image-container">
                <img id="1" src="static/unnamed 1.png">
                <img id="2" src="static/unnamed 2.png">
                <img id="3" src="static/unnamed 3.png">
                <img id="4" src="static/unnamed 4.png">
                <img id="2" src="static/unnamed 2.png">
                <img id="3" src="static/unnamed 3.png">
                <img id="4" src="static/unnamed 4.png">
                <img id="1" src="static/unnamed 1.png">
            </div>
        </body>
        </html>
        