<div
class="offcanvas offcanvas-bottom container text-center"
style="height: auto"
tabindex="-1"
data-bs-backdrop="false"
data-bs-scroll="true"
id="offcanvasScrolling"
aria-labelledby="offcanvasScrollingLabel"
>
<div class="row">
  <div class="offcanvas-header col-4 col-lg-2">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">
      [[SONG NAME]]
    </h5>
  </div>
  <div class="offcanvas-body small col-6 col-lg-8">
    <div id="musicContainer">
      <audio controls onended="playNextSong()" style="width: 100%" id="audio"></audio>
    </div>
  </div>
  <div
    class="col-2 col-lg-1 d-flex align-items-center justify-content-center"
  >
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
</div>
</div>