<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body style="background: white">
    {% if session.username %} {% extends 'base.html' %} {% block content %}
    <div class="container-lg">
      <h1>Settings</h1>
      {% if is_admin %}
      <div>
        <h2>Admin settings</h2>
        <div>
          <p>Singup status: {{ is_signup  }}</p>
          <form action="/a" method="post">
            <button type="submit" name="login-down" class="button btn btn-danger">
              Shutdown signup
            </button>
            <button type="submit" name="login-up" class="button btn btn-warning">
              Open signup
            </button>
          </div>
          <div>
            <p>Upload status: {{ is_upload  }}</p>
            <form action="/a" method="post">
              <button type="submit" name="upload-down" class="button btn btn-danger">
                Shutdown signup
              </button>
              <button type="submit" name="upload-up" class="button btn btn-warning">
                Open signup
              </button>
            </div>
        </form>
      </div>
      {% endif %}
    </div>
    {% endblock %} {% endif %}
  </body>
</html>
