<div class="collapse row" id="collapseSignup">
    <div class="card card-body">
      <p>Sign up</p>
      <form action="/signup" method="POST">
        <div class="mb-3">
          <label for="username2" class="form-label">Username</label>
          <input
            type="text"
            name="username"
            class="form-control"
            id="username2"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Password</label
          >
          <input
            name="password"
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <div class="mb-3 form-check"></div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>