{% for song in songs %}
<a
  class="list-group-item list-group-item-action list-group-item-NONE bg-gradient"
  id="list-{{song.id}}-list"
  data-bs-toggle="list"
  href="#list-{{song.id}}"
  role="tab"
  aria-controls="list-{{song.id}}"
>
  <div class="row align-items-center">
    <div class="col-3 col-sm-2">
      <svg
        id="play-{{song.id}}"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-play-circle icon-play"
        viewBox="0 0 16 16"
        onclick="toggleIcons(this)"
      >
        <path
          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
        />
        <path
          d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445"
        />
      </svg>
      <svg
        id="pause-{{song.id}}"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-pause-circle icon-pause d-none"
        viewBox="0 0 16 16"
        onclick="toggleIcons(this)"
      >
        <path
          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
        />
        <path
          d="M5 6.25a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0zm3.5 0a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0z"
        />
      </svg>
    </div>
    <div class="col-7 col-sm-8" id="songNameContainer">
      <p class="m-0" id="songName">{{ song.song_name }}</p>
    </div>
    <div class="col-2 col-sm-2">
      <p class="m-0">+1</p>
    </div>
  </div>
</a>
<script src="{{ url_for('static', filename='audio.js') }}"></script>
{% endfor %}
